

h1{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15% 7%;
}
/*
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Montserrat', sans-serif;
*/

body{
    font-family: 'Montserrat';

}

/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem;x    

}

.navbar-brand{
    font-family:"Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Buttons download */
.download-button{
    margin:5% 3% 5% 0;
}

/* title imeag */

.title-image{
    position: absolute;
    right: 30%;
    width: 60%;
    transform:rotate(25deg);
}

.ft1{
    margin-top: 8rem;
    margin-bottom: 8rem;
    text-align: center;
}

.fas{
    margin-bottom: 2rem;
    color: #ef8172;
}
#title{
    background-color: #ff4c68;
    color:white;

}

#features{
    position: relative;
    background-color: white;
    padding-top: 1%;
 
}

#features p{
    width: 70%;
    margin: auto;
    color: #8f8f8f;
}

#features h3{
    font-family: "Montserrat";
    font-weight: 700;
}
.fas:hover{
    color: #e75c4a;

}


#testimonials{
    text-align: center;
    background-color: #e75c4a;
    color: white;

}


#cta{
    background-color: #ff4c68;
    color:white;
    padding:5rem 0;
    text-align: center;
    font-family:"Montserrat";
}
#cta h3{
    font-weight: 900;
    font-size: 3.5rem;
    width: 55%;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 2rem;


}
#cta .btn{
    margin-bottom: 2rem;
}



h2{
    font-family:"Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;

}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    text-align: center;
    background-color: #e75c4a;
    padding-bottom: 3%;
}
#press img{
    width: 15%;
    margin:20px 15px;
}

.carousel-item{
    padding: 7% 15%;

}

#pricing{
    padding: 100px;
    text-align:center;
}
.pricing-col{
    padding: 3% 2%;
}


#footer{
    text-align: center;
    padding: 5rem 0;
}
#footer p{
    color:#8f8f8f;
}
.footer-icons{
    margin: 0.75rem;
    color:#363636;
}
.footer-div{
    margin-bottom: 2rem;
}
.btn-xl {
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
}

@media (max-width: 1028px){
    #title{
        text-align: center;

    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}